<div class="wrapper">
  <div class="container">
    <div class="row">
      <p>Me: <%= @question %></p>
    </div>
    <div class="row">
      <p>Coach: <%= @answer %></p>
    </div>
  </div>
</div>


<div class="center-text big-text">
  <%= link_to "New Conversation", ask_path, :class => "btn btn-primary white" %>
</div>
