<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="center-text">Stupid Coach</h1>
    </div>
    <div class="col-xs-12">
      <h2 class="center-text">Ask your coach anything!</h2>
    </div>
  </div>
  <form action="/answer" class="center-text">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
